# Environment
.env
*.env.local

# Backend
backend/data/
*.db
*.db-journal
*.db-wal
*.db-shm

# Frontend
frontend/node_modules/
frontend/public/css/output.css

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
